<img src="/images/top-menu/header.gif" width="900">
<!-- <ul id="#nav">-->
<ul id="menu">
  <li><a href="/">Home</a></li>
  <li>
  <a href="#">Projects</a>
  <ul>
	  <li><a href="/projects/sandes/sandes-pirbright.html">Sandes Pirbright</a></li>
	  <li><a href="/projects/lombard/lombard.html">Lombard Street</a></li>
	  <li><a href="/projects/bio-cranial/bio-cranial.html">Bio Cranial Center</a></li>
	  <li><a href="/projects/ardglass/ardglass.html">New Dwelling, Ardglass</a></li>
	  <li><a href="/projects/kirkistown/kirkistown.html">New Dwelling, Kirkistown, Co Down</a></li>
	  <li><a href="/projects/strangford/strangford.html">House Extension, Strangford</a></li>
	  <li><a href="/projects/rathgael/rathgael.html">House Renovation-Interior Design, Rathgael</a></li>
	  <!--	  <li><a href="/projects/dromena/newtownards.html">Dromena Apartments, Newtownards</a></li> -->
  </ul>
  </li>
  <li><a href="/services/index.html">Services</a></li>
  <li><a href="/contact/index.html">Contact Us</a></li>
</ul>
